body {
    padding-top: 54px;
}

@media (min-width: 1200px) {
    body {
        padding-top: 56px;
    }
}
.container{
    float: left;

}
.col-md-3{
    float: left;
    padding-top: 25px;
    padding-left: 15px;
}

.img{
    width: 235px;
    height: 200px;
    border: 1px solid #17a2b8;
}
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

.menu li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.menu li a:hover {
    background-color: #555;
    color: white;
}
.menu2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 200px;
}
.menu2 li{
    float: left;
}

.menu2 li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.menu2 li a:hover {
    background-color: #555;
    color: white;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btnFile {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

#container .button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}